.landingPage {
  display: flex;
  flex-direction: column;
}
.hero-section {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-top {
  display: flex;
  align-items: center;
}
.hero-top img {
  width: 100%;
}
.hero-bottom {
  display: flex;
}

.hero-bottom button {
  padding: 15px 33px;
  border: 2px solid #e61f01;
  border-radius: 9px;
  color: white;
  display: flex;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  outline: none;
}

.hero-bottom button:hover {
  background-color: #e61f01;
}
