.bg-img-student {
  background: url(../assets/studentHero.svg), #0d039c;
  background-blend-mode: lighten;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 9999;
  padding-left: 3rem;
  padding-right: 3rem;
}
.student-main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70vh;
  color: white;
  padding-left: 1rem;
}
.student-main-left h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.student-main-left :nth-child(2n) {
  font-weight: 500;
  margin-bottom: 1rem;
  line-height: 27px;
}

.student-main-left :nth-child(3n) {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 2rem;
  line-height: 27px;
}
